################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/TfsConnector/bin/Debug
/TfsConnector/obj/Debug
/TfsConnector/obj/Release
/TfsConnector/.vs
/.vs/TfsConnector/v16
/.vs/TfsConnection/v16
/.vs
